*, ::after, ::before {
  box-sizing: border-box;
}

body{

}

.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}
.hidden{
   display: none;
}

.header{
   display: flex;
   gap: 20px;
   height: 50px;
   padding: 10px;
   background-color: #d1d16c;
}

.main{
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-color: #b7f7b7;
}

.asaid{
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
   background-color: #aeaef1;
}

.category-list{
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* height: 70px; */
   padding: 10px;
   background-color: #f8ce81;
}

.funds{
   height: 170px;
   overflow-y: scroll;
   padding: 10px;
   background-color: #d87093;
   scrollbar-width: none;
}
.funds::-webkit-scrollbar {
   display: none;
 }
.funds h2{
   margin-top: 8px;
   margin-bottom: 8px;
}
.funds p{
   margin-top: 2px;
   margin-bottom: 2px;
}

.home{
   height: 200px;
   padding: 10px;
   background-color: #f35252;
}